Check ACTN framework for how the topology abstraction is defined

Check ACTN framework for how the topology abstraction provided by a PNC is defined (pre-configuration or controlled by MDSC) and add some text to clarify that in this document it is assumed some pre-configuration


This is the current text in section 4.2:

> Each PNC should provide the MDSC a network topology abstraction hiding the internal details of the physical domain network topology controlled by the PNC, and this abstraction is independent of the abstractions provided by other PNCs. Therefore, it is possible that different PNCs provide different types of topology abstractions. Each MPI operates on the abstract topology regardless of, and independently from, the type of abstraction provided by its underlying PNC .

After reviewing section 5.3 of RFC 8453, it seems that it is the PNC that decides the level of abstraction based on PNC configuration parameters

Proposed text update:

> Each PNC should provide the MDSC a network topology abstraction hiding the internal details of the physical domain network topology controlled by the PNC. As described in section 3 of [RFC 8453], the level of abstraction provided by each PNC is based on the PNC configuration parameters and therefore is independent from the levels of abstraction provided by other PNCs. It is possible that different PNCs provide different types of topology abstractions. The MDSC can operate on each MPI abstract topology regardless of, and independently from, the type of abstraction provided by its underlying PNC .

@italobusi : update the draft text accordingly


A slightly update proposed text change:

> Each PNC should provide the MDSC a network topology abstraction hiding the internal details of the physical domain network topology controlled by the PNC. As described in section 3 of [RFC 8453], the level of abstraction provided by each PNC is based on the PNC configuration parameters and it is independent from the levels of abstraction provided by other PNCs. Therefore, it is possible that different PNCs provide different types of topology abstractions. The MDSC can operate on each MPI abstract topology regardless of, and independently from, the type of abstraction provided by its underlying PNC .

The main intent is to keep the "Therefore" in the same position as in the original text

@sergiobelotti : are you ok with it?

See: https://github.com/danielkinguk/transport-nbi/files/3447099/draft-ietf-ccamp-transport-nbi-app-statement-ib-2019-07-30.docx

@sergiobelotti : what do you think?


**2019-07-31 DT Call**

Agreed to close the issue
